body {
    margin: 0%;
    background-image: url(../imgs/bg.webp);
    background-size: 100%;
    overflow-x: hidden;
}

header {
    height: 75px;
    background-color: #a90000;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

header img {
    width: 260px;
}


nav {
    display: flex;
    gap: 55px;
    margin-left: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

  nav .home {
    border-bottom: 4px solid #ff6b18;
    padding-bottom: 3px;
    border-radius: 2px;
}

.carrinho {
    margin-left: auto;
    color: white;
    font-size: 32px;
}

.login {
    display: flex;
    justify-content: flex-end;

    padding: 10px 25px;
}

.login a {
    background-color: white;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-text-stroke: 0.5px rgb(49, 5, 5);
}
.banner {
    width: calc(100% - 60px);
    height: 350px;
    margin: 15px 30px;
    overflow: hidden;
    border-radius: 18px;
    border: 5px solid black;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    display: flex;
    gap: 60px;
    padding: 30px 35px;
}

.pizza {
    width: 33.33%;
    height: 235px;
    border-radius: 18px;
    overflow: hidden;
    border-radius: 18px;
    border: 5px solid black;
}

.pizza img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    margin-top: 60px;
}

.rodape {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: white;
}

.logo-rodape {
    text-align: center;
}
.logo-rodape > img {
    width: 250px;
}


.redes {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 15px;
}

.redes img {
    width: 35px;
    height: 35px;
}

.linha {
    height: 150px;
    border-left: 2px solid black;
}

.sobre {
    text-align: center;
    font-size: 23px;
}

.localizacao {
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.localizacao p {
    margin: 2px;
    font-size: 10px;
}