body {
    background-color: wheat;
    margin: 0%;
    background-size: 100%;
    overflow-x: hidden;
}

header {
    background-color: #7a0000;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}

header img {
    padding: 15px;
    width: 150px;
    margin: -13px;
    margin-left: 0px;
    margin-top: -15px;
}

header button {
    border-radius: 8px;
    width: 200px;
    height: 50px;
    background-color: #7a0000;
    border-color: #742727;
    color: #ffffff;
    font-size: 18px;
    margin-top: 17px;
    margin-right: 17px;
}